# Copy to .env and adjust for local use: cp .env.example .env

POSTGRES_PASSWORD=anything
POSTGRES_USER=sensorthings_example
POSTGRES_DB=sensorthings_example
FROST_SERVICE_ROOT_URL=http://localhost:8080/FROST-Server
